#nav{
	width: 800px;
	height: 80px;
	
}
p{
	color: plum;
	width: 200px;
	height: 20px;
	border-color: black;
}
#one{
	width: 50px;
	height: 20px;
	float: left;
	background-color:aquamarine;
	float: left;
}
#two{
	width: 50px;
	height: 20px;
	float: left;
	background-color: darkturquoise;
}	
#three{
	width: 50px;
	height: 20px;
	float: left;
	background-color:azure ;
}
#four{
	width: 50px;
	height: 20px;
	float: left;
	background-color: rosybrown;
}
#content{
	width: 800px;
	height: 40px;
	background-color: ;
}
